.uploadimg{
    padding: 10%;
    background-color: grey;
}
.btn{
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #6B7CD7;
    color:white;
    border-radius: 30px;
    font-family: 'Baloo Tamma 2';
}
select#pfp option[value="beige"] {
    background-image:url(./Art Assets/Platformer Assets Extra Animations & Enemies/Alien sprites/alienBeige_badge2.png);
    }